.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  *{
    transition: all 1s ;
  }
  .playfair-display{
    font-family: "Playfair Display", serif;
  }
  .title{
    color: #945bfc;
  }
  main{
    background: #f0f0f0;
  }
  .subtitle{
    color: #74bc44;
  }
  .nav-item{
    text-decoration: none;
    color: white;
    text-decoration-line: none;
    
  }
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .couple-b{
    background-image: url('./LE LOTUS/BUNGALOW_02/BUNGALOW_02_2.JPG');
  }
  .family-b{
    background-image: url('./LE LOTUS/BUNGALOW_05/BUNGALOW_05_1.JPG');
  }
  .family-xl-b{
    background-image: url('./LE LOTUS/Autre photo/320494169_1157038838286640_3676855254497789635_n.jpg');
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

:root{
    ---primary--- : #74BF40;
    ---secondary--- : #F13FFF;
    ---thirdy--- : #9659FF;
    ---low-gray---: #f7f7f7;
    scroll-behavior: smooth;
}
.buttons-colors{
  color: white;
  background: #f33cfc;
}
.primary-color{
  color: var(---primary---);
}
.second-color{
  color: var(---secondary---);
}
.third-color{
  color: var(---thirdy---);
}
.hero-section{
    /* background-image: url('LE LOTUS/EXTERIEUR/EXTERIEUR_02.JPG'); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 120dvh;

}
#check:checked ~ .hide{
  transform: translateX(0);
}
.navbar{
    background: #945bfc;
    
}
.check-{
    border-top: #f33cfc 3px solid;

}
.text-secondary{
    color: var(---secondary---);

}
@media (max-width : 1024px) {
  
  #about-us{
    background-image: url('./lotus\ pattern.png');
    background-position: center;
    background-size: contain;
    height: 170dvh;
  }
}
#about-us{
  background-image: url('./lotus\ pattern.png');
  background-position: center;
  background-size: contain;
  
}
.about-us-img{
    background-image: url('LE LOTUS/EXTERIEUR/EXTERIEUR_07.JPG');
    background-position: center;
    background-size: cover;
    border: #ffffff 8px solid;
}
body{
    font-family: "Lato", sans-serif;
}
.check-avl{
    background: #f33cfc;
    
}
.logo{
    background-image: url('LE LOTUS/Logo/Logo\ sans\ fond.png');
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
}
.circle-nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 480px;
  width: 100%;
  height: 500px;
}
.hide{
  transform: translateX(100%);
}
.burgermenu{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6dvh;
  right: 6dvw;

}
.hhide{
  transform: translateX(-100%);
}
.circle-submenu{
  position: absolute;
  top: 0;
  right: 0;
}
.bun
.bungalow-1{
  background-image: url('/LE LOTUS/BUNGALOW_06/BUNGALOW_06_3.JPG');
  background-position: center;
  background-size: cover;
}
.bungalow-2{
  background-image: url('./LE LOTUS/BUNGALOW_02/BUNGALOW_02_1.JPG');
  background-position: center;
  background-size: cover;
}
.bungalow-3{
  background-image: url('./LE LOTUS/BUNGALOW_02/BUNGALOW_02_3.JPG');
  background-position: center;
  background-size: cover;
}
.bungalow-4{
  background-image: url('./LE LOTUS/BUNGALOW_08/BUNGALOW_08_1.JPG');
  background-position: center;
  background-size: cover;
}
.lotus-pattern{
  background-image: url('./lotus\ pattern.png');
  background-position: center;
  background-size: contain;
}
html{
  scrollbar-color: black white;
scrollbar-arrow-color: #74BF40;
}
.card{
  min-width: 48%;
  margin-right: 20px;
  height: 95%;
  border-radius: 10px;
}
.card-container{
  padding-block: 2rem;
}
.slide{
  transform: translate3d(-376px, 0px, 0px)
}

.rev-slide{
  transform: translate3d(376px, 0px, 0px)
}
.inactive{
  color: gray;
  cursor: default;
  
}
.slides{
  height: 100%;
  display: flex;
  width: 100%;
  overflow-x: hidden;
}
.slider{
  width: 100%;
  height: 100%;
 position: absolute;
  /* border: black solid; */
  left: 0;
  top: 0;
  /* background-image: url('./LE LOTUS/EXTERIEUR/EXTERIEUR_02.JPG'); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: 1s;
}
.first{
  background: linear-gradient(rgba(0, 0, 0, 0.228),rgba(0, 0, 0, 0.288)), url('./LE LOTUS/EXTERIEUR/EXTERIEUR_09.JPG');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  left: 0;
 transition: all 1s;
}
.second{
  background:linear-gradient(rgba(0, 0, 0, 0.269),rgba(0, 0, 0, 0.256)) ,url('./LE LOTUS/Autre photo/320440588_487197823500915_8151231927458238268_n.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  left: 0;
  transition: all 1s;
}
.third{
  background:  linear-gradient(rgba(0, 0, 0, 0.285),rgba(0, 0, 0, 0.29)), url('./LE LOTUS/Autre photo/157983783_759495578014822_6545127917929286829_n.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  left: 0;
  transition: all 1s;
}
/* @keyframes auto1 {
0%{
  opacity: 1;

}
25%{
  opacity: 0;
}
75%{
  opacity: 0;
}
100%{
  opacity: 1;
}
} */
.navigation-auto{
  position: absolute;
  background-color: #bcbcbc;
  width: 15dvw;
  height: .75dvh;
  bottom: 10dvh;
  right: 5dvw;
  display: flex;
}
.auto-btn1,
.auto-btn2,
.auto-btn3{
  width: 33.33333%;
  height: 100%;
}
.navigation-manual{
  position: absolute;
  background-color: #bcbcbc;
  width: 15dvw;
  height: .75dvh;
  bottom: 10dvh;
  right: 5dvw;
  /* border-radius: 7px; */
  display: flex;
  opacity: 0;
}
.manual-btn{
  /* border: black solid 1px; */
  width: 33.333333%;
  height: 100%;
  /* background: #00000093; */
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: white;
}
#radio2:checked ~   .navigation-auto .auto-btn2{
  background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: white;
}
.manual-btn:hover{
  background-color: white;
}
.slides input{
  display: none;
}
#radio1:checked ~ .first{
  opacity: 1;
}
#radio1:checked ~ .second{
  /* left: -100%; */
  opacity: 0;
}
#radio1:checked ~ .third{
  /* left: -100%; */
  opacity: 0;
}
#radio2:checked ~ .second{
  /* left: 0; */
  opacity: 1;
}
#radio2:checked ~ .first{
  /* left: -100%; */
  opacity: 0;
}
#radio2:checked ~ .third{
  opacity: 0;
  /* left: 100%; */
}
#radio3:checked ~ .third{
  opacity: 1;
  /* left: 0; */
}
#radio3:checked ~ .second{
  opacity: 0;
  /* left: -100%; */
}
#radio3:checked ~ .first{
  opacity: 0;
  /* left: -100%; */
}
.nav-item{
  transition: 0.3s;
  z-index: 1;
  position: relative;
}
.nav-item::before{
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 5px 5px 0 0;
  opacity: 0 ;
  transition: 0.3s;
}
.nav-item:not(.is-active):hover::before {
  opacity: 1;
}
.nav-indicator{
  position: absolute;
  left: 0;
  bottom: 12px;
  height: 2px;
  transition: 0.4s;
  z-index: 1;
  background: white;
border-radius: 5px 5px 0 0 ;
}
.end{
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  padding: 66px;
  margin-top: 66px;
  background-color: black;
  color: white;

}
h2{
  color: #b22ebb;
}
p{
  align-items: center;
  justify-content: center;
  display: flex;
}


.black{
  color: black;
}
.carroussel .slider-content{
  height: 500px;
  width: 350px;
  background: black;
}
.carroussel-lg .slider-content{
  height: 500px;
  width: 350px;
  background: black;
  
}
.img{
  width: 100%;
  height: 200px;
 
  background-position: center;
  background-size: cover;
}
.desc{
  color: #bcbcbc;
}
.price--{
  /* color: #945bfc; */
  color: #945bfc;
  font-weight: 600;
}
.button-book button{
  background: black;
  color: #945bfc;
  width: 120px;
  height: 50px;
  position: relative;
  transition: all 1s;
}
.button-book button::before{
  content: "";
  background: #945bfc;
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: -7px;
  left: 0;
}
.button-book button:hover{
  background: white;
  color: #945bfc;
}
.wrapper .carroussel{
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
  grid-auto-columns: calc((100%/3)-12px);
  overflow: hidden;
  width: 735px;
  height: 100%;
}
.carroussel-lg{
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
  grid-auto-columns: calc((100%/3)-12px);
  overflow: hidden;
  width: 350px;
  height: 510px;
}

.wrapper {
  width: 100%;
  max-width: 2000px;
}
.arrow{
  color: black;
}
.fill-effect-button {
  position: relative;
  padding: 15px 30px;
  font-size: 16px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s;
}

.fill-effect-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #945bfc;
  transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.fill-effect-button:hover::before {
  width: 300%;
  height: 300%;
  top: 50%;
  left: 50%;
}

.fill-effect-button:hover {
  color: black;
}

.fill-effect-button * {
  position: relative;
  z-index: 1;
}

.slider-content {
    transition: transform 0.3s ease;
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}
.slider-wrapper {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
}
.primary{
  background: #945bfc;
  transition: all 1s;

}
.primary:hover{
  background-color: black;
  
}
.secondary{
  background: #f33cfc;
}
.secondary:hover{
  background: #b22ebb;
}
.active-color{
  color: white;
}